In [1]:
from PIL import Image
from wand.image import Image as wandImage
from wand.color import Color
import cv2
import PyPDF2
import pytesseract
import argparse
import os
import io
import csv
import numpy as np
import pandas as pd
import sys
import tempfile
import mrjob
import pickle
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = (50,30)

In [16]:
def pdfPageToImg(src_pdf, pagenum, resolution=300, preprocess="thresh"):

#    src_pdf = PyPDF2.PdfFileReader(filename)
    dst_pdf = PyPDF2.PdfFileWriter()
    dst_pdf.addPage(src_pdf.getPage(pagenum))
    pdf_bytes = io.BytesIO()
    dst_pdf.write(pdf_bytes)
    pdf_bytes.seek(0)
    img_buffer=None

    with wandImage(file = pdf_bytes, resolution = resolution) as img:
        img.format = "png"
        img.alpha_channel = False
        img_buffer=np.asarray(bytearray(img.make_blob()), dtype=np.uint8)

    if img_buffer is not None:
        retval = cv2.imdecode(img_buffer, cv2.IMREAD_UNCHANGED)
        image = cv2.cvtColor(retval, cv2.COLOR_BGR2RGB)
        gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    if preprocess == "thresh":
        gray = cv2.threshold(gray, 0, 255, cv2.THRESH_BINARY | cv2.THRESH_OTSU)[1]

    elif preprocess == "blur":
        gray = cv2.medianBlur(gray, 3)

    return Image.fromarray(gray)

In [3]:
def ocr(image, verbose=True, debug=False):
    # load the image as a PIL/Pillow image, apply OCR
    pagecontents = {}
    data = pytesseract.image_to_data(image, output_type="df.frame")
    boxes = pytesseract.image_to_boxes(image)
    try:
        df = pd.read_csv(io.StringIO(data), sep="\t", quoting=csv.QUOTE_NONE, encoding='utf-8', engine='python')
        dfm = df.loc[(list(map(lambda x: str(x).strip()!='', df['text'])) & (df['conf']> -1) & (df['text']).notnull())]
        df = dfm.set_index(["block_num","par_num"])
        blockstats = {'block':[], 'n_par':[], 'n_line':[], 'top_at':[], 'bottom_at':[], 'left_at':[], 'right_at':[]}
        paragraphs = {}
        for block in df.index.levels[0]:
            blockstats['block'].append(block)
            blockstats['n_par'].append(len(np.unique(df.loc[block,].index.values)))
            blockstats['n_line'].append(df.loc[(block,)]['top'].count())
            blockstats['top_at'].append(min(df.loc[(block,)]['top']))
            blockstats['bottom_at'].append(max(df.loc[(block,)]['top']+df.loc[(block,)]['height']))
            blockstats['left_at'].append(min(df.loc[(block,)]['left']))
            blockstats['right_at'].append(max(df.loc[(block,)]['left']+df.loc[(block,)]['width']))
            paragraphs[block] = []
            for i in df.loc[block].index.unique():
                paragraphs[block].append(' '.join(list(map(lambda x: x.strip(), df.loc[block].loc[i,'text']))))
        blockstats = pd.DataFrame(data=blockstats).set_index('block')
        pagecontents['blockstats'] = blockstats
        pagecontents['paragraphs'] = paragraphs
    except:
        print("exception")

    if debug == True:
        tmp = tempfile.mkstemp(suffix='.png', prefix='tmp', dir=None, text=False)
        imgfilename = tmp[1]
        print(imgfilename)
        pagecontents['filename'] = imgfilename
        image.save(imgfilename)
       
    if verbose == True:
        pagecontents['data'] = dfm
        pagecontents['boxes'] = pd.read_csv(io.StringIO(boxes), quoting=csv.QUOTE_NONE, encoding='utf-8', engine='python',
                                            sep="\s", header=None, names=["character", "x1","y1","x2","y2","c"])

    return pagecontents

In [17]:
def showImage(all_pages, pagecontents, pagenum=250, preprocess="thresh"):

    with wandImage(all_pages.sequence[pagenum]) as img:
        img.format = "png"
        img.alpha_channel = False
        img_buffer=np.asarray(bytearray(img.make_blob()), dtype=np.uint8)

    if img_buffer is not None:
        retval = cv2.imdecode(img_buffer, cv2.IMREAD_UNCHANGED)
        image = cv2.cvtColor(retval, cv2.COLOR_BGR2RGB)
        gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

    if preprocess == "thresh":
        gray = cv2.threshold(gray, 0, 255, cv2.THRESH_BINARY | cv2.THRESH_OTSU)[1]

    elif preprocess == "blur":
        gray = cv2.medianBlur(gray, 3)

    blockstats = pagecontents[pagenum]['blockstats']

    h, w = gray.shape
    img_blocks = gray.copy()
    for index, row in blockstats.iterrows():
        top_left = (row['left_at'], row['top_at'])
        bottom_right = (row['right_at'], row['bottom_at'])
        img_blocks = cv2.rectangle(img_blocks, top_left, bottom_right, (0, 255, 0), 2)

    return img_blocks

# show the output image with block bounding boxes
# plt.imshow(img_blocks,cmap='gray')
# plt.show()

In [ ]:
def categorizeTwoColumnBlocks(contents):
    block = contents['blockstats']
    text = contents['paragraphs']
    center = block.right_at.max()
    header = block[(block.bottom_at < block.bottom_at.max()*0.1) & (block.n_par < 2)].sort_values(by='left_at')
    leftcol = block[(block.right_at < block.right_at.max()*0.75) & (block.n_par > 1)].sort_values(by='left_at')
    rightcol = block[(block.right_at > block.right_at.max()*0.75) & (block.n_par > 1)].sort_values(by='top_at')
    footer = block[(block.top_at > block.bottom_at.max()*0.9) & (block.n_par < 2)].sort_values(by='top_at')

    blockstats = {'header':header,'footer':footer,'leftcol':leftcol,'rightcol':rightcol}
    
    paragraphs = {'header':list(itertools.chain.from_iterable([text[i] for i in header.index])),
                  'footer':list(itertools.chain.from_iterable([text[i] for i in footer.index])),
                  'leftcol':list(itertools.chain.from_iterable([text[i] for i in leftcol.index])),
                  'rightcol':list(itertools.chain.from_iterable([text[i] for i in rightcol.index]))
                 }
    
    return {'blockstats':blockstats, 'paragraphs':paragraphs}

In [8]:
pagecontents = pickle.load(open( "Langley1863.p", "rb" ) )
pageimages = wandImage(filename="Langley1863.image", resolution=300)

In [26]:
isdirectory = [False]*len(pageimages.sequence)
for i in range(123, 469):
    isdirectory[i] = True

In [1]:
img = showImage(pageimages, pagecontents, pagenum=350)
plt.imshow(img, cmap="gray")

NameError: name 'showImage' is not defined

In [49]:
blockstats = {key: pagecontents[key].get('blockstats', None) for key in pagecontents.keys()}

In [67]:
blockstats[124]

       n_par  n_line  top_at  bottom_at  left_at  right_at
block
2          1       2     109        140      309       812
3         20     204     187       1037       85       765
4          1      11    1037       1066       85       777
5         32     285    1066       2419       86       766
9          1       2     109        141      846      1247
10         1      17     188        274      792      1467
11         1       1     104        135     1426      1467
12        43     447     301       2424      792      1468

In [112]:
blockstats[124][(blockstats[124].right_at < blockstats[124].right_at.max()*0.75) & (blockstats[124].n_line > 2)]

       n_par  n_line  top_at  bottom_at  left_at  right_at
block
3         20     204     187       1037       85       765
4          1      11    1037       1066       85       777
5         32     285    1066       2419       86       766

In [113]:
blockstats[124][(blockstats[124].right_at > blockstats[124].right_at.max()*0.75) & (blockstats[124].n_line > 2)]

       n_par  n_line  top_at  bottom_at  left_at  right_at
block
10         1      17     188        274      792      1467
12        43     447     301       2424      792      1468

In [114]:
blockstats[124][(blockstats[124].bottom_at < blockstats[124].bottom_at.max()*0.1) & (blockstats[124].n_line < 3)]

       n_par  n_line  top_at  bottom_at  left_at  right_at
block
2          1       2     109        140      309       812
9          1       2     109        141      846      1247
11         1       1     104        135     1426      1467

In [115]:
blockstats[124][(blockstats[124].top_at > blockstats[124].bottom_at.max()*0.8) & (blockstats[124].n_line < 3)]

Empty DataFrame
Columns: [n_par, n_line, top_at, bottom_at, left_at, right_at]
Index: []

In [174]:
def categorizeTwoColumnBlocks(contents):
    block = contents['blockstats']
    text = contents['paragraphs']
    center = block.right_at.max()
    header = block[(block.bottom_at < block.bottom_at.max()*0.1) & (block.n_line < 3)].sort_values(by='left_at')
    leftcol = block[(block.right_at < block.right_at.max()*0.75) & (block.n_line > 2)].sort_values(by='left_at')
    rightcol = block[(block.right_at > block.right_at.max()*0.75) & (block.n_line > 2)].sort_values(by='top_at')
    footer = block[(block.top_at > block.bottom_at.max()*0.8) & (block.n_line < 3)].sort_values(by='top_at')

    blockstats = {'header':header,'footer':footer,'leftcol':leftcol,'rightcol':rightcol}
    
    paragraphs = {'header':list(itertools.chain.from_iterable([text[i] for i in header.index])),
                  'footer':list(itertools.chain.from_iterable([text[i] for i in footer.index])),
                  'leftcol':list(itertools.chain.from_iterable([text[i] for i in leftcol.index])),
                  'rightcol':list(itertools.chain.from_iterable([text[i] for i in rightcol.index]))
                 }
    
    return {'blockstats':blockstats, 'paragraphs':paragraphs}

In [ ]:
# define header as n_line < 3, bottom_at < 0.1 max bottom
#        footer as n_line < 3, top_at > 0.8 max bottom
#        leftcol as n_line > 3, left_at < 1/2 max right_at
#        rightcol as n_line > 3, right_at > 1/2 max right_at

In [175]:
categorizeTwoColumnBlocks(pagecontents[124])

{'blockstats': {'header':        n_par  n_line  top_at  bottom_at  left_at  right_at
  block
  2          1       2     109        140      309       812
  9          1       2     109        141      846      1247
  11         1       1     104        135     1426      1467,
  'footer': Empty DataFrame
  Columns: [n_par, n_line, top_at, bottom_at, left_at, right_at]
  Index: [],
  'leftcol':        n_par  n_line  top_at  bottom_at  left_at  right_at
  block
  3         20     204     187       1037       85       765
  4          1      11    1037       1066       85       777
  5         32     285    1066       2419       86       766,
  'rightcol':        n_par  n_line  top_at  bottom_at  left_at  right_at
  block
  10         1      17     188        274      792      1467
  12        43     447     301       2424      792      1468},
 'paragraphs': {'header': ['ADDITIONAL NAMES,', 'REMOVALS, EYC.', '3 9'],
  'footer': [],
  'leftcol': ['Bloomingdale Emanuel, furniture cor Pine and San',
   'Blum Herman, gents’ furnishing goods 306 Mont',
   'Bluxome No. J G. & 8. M. Co. office 46 Government Tiouse',
   'Bluxome No. 2G. & S.M. Co. office 46 Government',
   'o n s e',
   'BOARD OF EDUCATION, rooms 325 Mont',
   'Boden and Larkin S. M. Co. office 611 Clay',
   'Bodie Bluff (Bodie Mining Dist) C. M. Co. office 33 Montgomery Block',
   'Bolivia (Gold Till) G. & S. M. Co. office 605 Clay',
   "BOND CILARLES R. secretary Fireman's Fund Insurance Co. office 238 Montgomery",
   'Booken Christian (Wm. Meyerholtz §+ Co.) cor Sutter and Taylor',
   'Boston C. M. Co. office 630 Montgomery',
   'Boston (Gold Hill) G. & 8. M. Co. office 605 Clay',
   'BOWLEY 8. C. & CO. real estate, stock, and exchange broker 621 Mont, dwl 423 Bryant',
   'Boyle J. (8. J.) domestic St. Ignatius College cor Market and Fourth',
   'Boyle William, porter with Cyrus Adams, bds What Cheer Honse',
   'Boylen Joseph, dw] 549 Market',
   'Branger (Jean) & Job (Peter) restaurant SW cor Mont and Bush, dw! NE cor Clay and Powell',
   'Brayton A. P. & Co. (Henry S. Nettleton) stoves and tinware 204 Bush and 103 and 105 Sansom',
   'Breckbill C. P. waiter with Peter Job, dwl N 8 Bush nr Kearny',
   'Brennus (Devil’s Gate) G. & S. M. Co. office 436 |',
   'J a c k s o n',
   'Breuvensiuh] Wm. F. clerk with Heyer & Co. dwl 1010 Powell',
   'Brevoort House, Mrs. Matilda Yates proprietress, NW cor Mission and Fourth',
   'Bright Star S. M. Co. (Reese River) office 56 Metro-',
   'olitan Block',
   'Brilliant (Slate Range) S. M. Co. office 410 Mont',
   'Brimberg Herman, clerk 631 Washington',
   'Britton George W. book-keeper with Goodwin & Co. dw 1313 Taylor',
   'Broadhead G, &. S. M. Co. office 622 Clay',
   'BROOKS CHAS. WOLCOTT, consul for Japan, office 511 Sansom fand C. W. Brooks § Co.) dw] 1109 Stockton',
   'Browell Jeremiah, contractor and builder, office 530 chy dw! Ns Lombard between Dupont and yreen',
   'BROWN CHARLES EF. Enreka Soap Co. 207 Sac- ramento, dwl 66 Clementina',
   'Brown E. J. Mrs. millinery 134 Montgomery',
   'Brown Frank J. salesman [24 Montgomery',
   'Brown Grafton T. draftsman with C. C. Kuchel',
   'Brown James F. at Eureka Soap Co. 207 Sac',
   'Brown S. C. secretary mining companies office 40 Montgomery Block',
   'BROWN THOMAS, special agent U.S. office third floor Custom House',
   'Bryan & Watson (Lander Co.) G. & 8. M. Co. oflice Metropolitan Block',
   'BRYANT ANDREW J. wholesale wines and liquors 423 Battery, awl 921 Bush',
   'Buckeye (Cinnabar Dist.) G. & 8. M. Co. office 426 Montgomer',
   'Buckeye (Silver City) G. & 8. M. Co. 415 Sansom',
   'Buckingham Charles E. stock and bullion broker office 528 Clay',
   'Buckle Samuel, hay, grain, and feed 13 Sutter, dw}',
   'B u s',
   'Bulfinch Warren, currier, dw] 625 Market',
   'Bulletti C. fruits and produce 521 Merehant',
   'Bullion (Virginia) M. Co. office 606 Merchant',
   'Banker Hill (Lander Co.) G. & S. M. Co. office 604 Merchant',
   'Burnett John M. secretary mining companies, office 536 Washington, dw] 1006 Jackson',
   'Burns Henrv J. stencil plates, What Cheer Ionse,',
   'dw] 74 Fourth'],
  'rightcol': ['Burrage Peorse S. (B. P. Moore §& Co.) dw] 249 ir Byrne J. M. dw] 533 Sutter',
   'CanILy Joun, porter 210 Battery',
   'California Protective Union Division No. 1, groce- ries, 114 Sutter',
   'CALIFORNIA TEACHER (monthly) edneational magazine, office 536 Clay',
   'CALIFORNIA WINE, WOOL, AND STOCK JOURNAL (monthly) J. Q. A. Warren editor, office 517 Clay',
   'Camanche (Sugar Pine District) G. & S. M. office 528 Clay',
   'Campbell A. D. boots and shoes 331 Montgomery,',
   'wl] 1104 Stockton',
   'Campbell J. W. H. storage warehouse Rincon Point bet Folsom and Harrison',
   'Capitola (Uvas District} G. 8. & C.M. Co. office 328 Montgomery',
   'CAPP CITARLES §. attorney at law and mining secretary, office 810 Montgomery',
   'Carlisle 8. H. milkman, dwl NW cor Pine and zarkin',
   "CARLTON CITARLES C. Carlton's Warehouse 18, 20, and 22 Beale nr Market",
   'Carter HW. K. (7. 2. Jones § Co.) Awl cor Fourth and Market',
   'Casey Ilenry, clerk City and County Recorder, dwl Michigan Avenue',
   'Cash (Palmyra District) G. & 8. M. Co. office 413 Montgomery',
   'Cassius (Buena Vista) G. & S. M. Co. office 544 Merchant',
   'Cella A. (Riect § Co.) dw] Union nr Stockton',
   'Chabot John, superintendent 8. F. Water Works and Cement and Pipe Manufactory, 8s Fran- cisco bet Mason and Taylor',
   'Chamberlain Silas, sash maker with Smith & Ware',
   'CILAMPLIN WILLIAM B. drugs and chemicals SW cor Fourth and Mission',
   'Charter Oak Insurance Co. New York, office Gov- ernment House',
   'CHASE R. LP. physician office 486 Bush, dw] 31 Turk',
   'CHAUVIN O. commission merchant 314 Com- mercial, dw] NW cor California and Powell',
   'Chelon G. & S. M. Co. office 528 Montgomery',
   'Cherokee G. & 8. M. Co. offiee 625 Merchant',
   'Chicago (Esmeralda) G. & S. M. Co. office 326 Clay',
   'Chicago (Reese River) G. & S. M. Co. office 228 front,',
   'Chimawuvo Con. (Colorado) C. & S. M. Co. office SE cor Market and First',
   'Chollar 8. M, Co. office 434 California',
   'Christiana (Esmeralda) G. & S. M. Co. office 40 Metropolitan Block',
   'Chrysopolis G. & S. M. Co. office 325 Montgomery',
   'Chrysopolis (Mono) §, M. Co. office 546 Merebant',
   'Chrysopolis (Silver Mountain) G. & 8. M. Co. office 436 Jackson',
   'Cincinnati (Reese River) S. M. Co. office 603 Mer- chant',
   'Cinco de Mayo G. & 8. M. Co. office SW cor Broad- way and Dupont',
   'CITY RAILROAD CO. office NE cor Bush and Kearny',
   'Clark Allen C. engineer S. F. Gas Co. dwl 113 Minna .',
   'CLARK RODNEY, secretary mining companies office 618 Washington, dyyl 1019 Powell',
   'Clear Creek (Srerra) G. & S. M. Co. office 536 Washington',
   'Colburn Thomas W. mining secretary office 402 Montgomery, dw 731 California',
   'Clemens (Esmeralda) G. & S. M. Co. 528 Clay',
   'Codicia (Gold Til) 8. M. Co. office 11 Government Tlouse',
   'Cogeshall W. A. stock broker, office 605 Washington']}}

In [173]:
import itertools
list(itertools.chain.from_iterable([pagecontents[124]['paragraphs'][i] for i in [2,3,5]]))

['ADDITIONAL NAMES,',
 'Bloomingdale Emanuel, furniture cor Pine and San',
 'Blum Herman, gents’ furnishing goods 306 Mont',
 'Bluxome No. J G. & 8. M. Co. office 46 Government Tiouse',
 'Bluxome No. 2G. & S.M. Co. office 46 Government',
 'o n s e',
 'BOARD OF EDUCATION, rooms 325 Mont',
 'Boden and Larkin S. M. Co. office 611 Clay',
 'Bodie Bluff (Bodie Mining Dist) C. M. Co. office 33 Montgomery Block',
 'Bolivia (Gold Till) G. & S. M. Co. office 605 Clay',
 "BOND CILARLES R. secretary Fireman's Fund Insurance Co. office 238 Montgomery",
 'Booken Christian (Wm. Meyerholtz §+ Co.) cor Sutter and Taylor',
 'Boston C. M. Co. office 630 Montgomery',
 'Boston (Gold Hill) G. & 8. M. Co. office 605 Clay',
 'BOWLEY 8. C. & CO. real estate, stock, and exchange broker 621 Mont, dwl 423 Bryant',
 'Boyle J. (8. J.) domestic St. Ignatius College cor Market and Fourth',
 'Boyle William, porter with Cyrus Adams, bds What Cheer Honse',
 'Boylen Joseph, dw] 549 Market',
 'Branger (Jean) & Job (Peter) restaurant SW cor Mont and Bush, dw! NE cor Clay and Powell',
 'Brayton A. P. & Co. (Henry S. Nettleton) stoves and tinware 204 Bush and 103 and 105 Sansom',
 'Breckbill C. P. waiter with Peter Job, dwl N 8 Bush nr Kearny',
 'J a c k s o n',
 'Breuvensiuh] Wm. F. clerk with Heyer & Co. dwl 1010 Powell',
 'Brevoort House, Mrs. Matilda Yates proprietress, NW cor Mission and Fourth',
 'Bright Star S. M. Co. (Reese River) office 56 Metro-',
 'olitan Block',
 'Brilliant (Slate Range) S. M. Co. office 410 Mont',
 'Brimberg Herman, clerk 631 Washington',
 'Britton George W. book-keeper with Goodwin & Co. dw 1313 Taylor',
 'Broadhead G, &. S. M. Co. office 622 Clay',
 'BROOKS CHAS. WOLCOTT, consul for Japan, office 511 Sansom fand C. W. Brooks § Co.) dw] 1109 Stockton',
 'Browell Jeremiah, contractor and builder, office 530 chy dw! Ns Lombard between Dupont and yreen',
 'BROWN CHARLES EF. Enreka Soap Co. 207 Sac- ramento, dwl 66 Clementina',
 'Brown E. J. Mrs. millinery 134 Montgomery',
 'Brown Frank J. salesman [24 Montgomery',
 'Brown Grafton T. draftsman with C. C. Kuchel',
 'Brown James F. at Eureka Soap Co. 207 Sac',
 'Brown S. C. secretary mining companies office 40 Montgomery Block',
 'BROWN THOMAS, special agent U.S. office third floor Custom House',
 'Bryan & Watson (Lander Co.) G. & 8. M. Co. oflice Metropolitan Block',
 'BRYANT ANDREW J. wholesale wines and liquors 423 Battery, awl 921 Bush',
 'Buckeye (Cinnabar Dist.) G. & 8. M. Co. office 426 Montgomer',
 'Buckeye (Silver City) G. & 8. M. Co. 415 Sansom',
 'Buckingham Charles E. stock and bullion broker office 528 Clay',
 'Buckle Samuel, hay, grain, and feed 13 Sutter, dw}',
 'B u s',
 'Bulfinch Warren, currier, dw] 625 Market',
 'Bulletti C. fruits and produce 521 Merehant',
 'Bullion (Virginia) M. Co. office 606 Merchant',
 'Banker Hill (Lander Co.) G. & S. M. Co. office 604 Merchant',
 'Burnett John M. secretary mining companies, office 536 Washington, dw] 1006 Jackson',
 'Burns Henrv J. stencil plates, What Cheer Ionse,',
 'dw] 74 Fourth']

In [171]:
[pagecontents[124]['paragraphs'][i] for i in [2,3,5]]

[['ADDITIONAL NAMES,'],
 ['Bloomingdale Emanuel, furniture cor Pine and San',
  'Blum Herman, gents’ furnishing goods 306 Mont',
  'Bluxome No. J G. & 8. M. Co. office 46 Government Tiouse',
  'Bluxome No. 2G. & S.M. Co. office 46 Government',
  'o n s e',
  'BOARD OF EDUCATION, rooms 325 Mont',
  'Boden and Larkin S. M. Co. office 611 Clay',
  'Bodie Bluff (Bodie Mining Dist) C. M. Co. office 33 Montgomery Block',
  'Bolivia (Gold Till) G. & S. M. Co. office 605 Clay',
  "BOND CILARLES R. secretary Fireman's Fund Insurance Co. office 238 Montgomery",
  'Booken Christian (Wm. Meyerholtz §+ Co.) cor Sutter and Taylor',
  'Boston C. M. Co. office 630 Montgomery',
  'Boston (Gold Hill) G. & 8. M. Co. office 605 Clay',
  'BOWLEY 8. C. & CO. real estate, stock, and exchange broker 621 Mont, dwl 423 Bryant',
  'Boyle J. (8. J.) domestic St. Ignatius College cor Market and Fourth',
  'Boyle William, porter with Cyrus Adams, bds What Cheer Honse',
  'Boylen Joseph, dw] 549 Market',
  'Branger (Jean) & Job (Peter) restaurant SW cor Mont and Bush, dw! NE cor Clay and Powell',
  'Brayton A. P. & Co. (Henry S. Nettleton) stoves and tinware 204 Bush and 103 and 105 Sansom',
  'Breckbill C. P. waiter with Peter Job, dwl N 8 Bush nr Kearny'],
 ['J a c k s o n',
  'Breuvensiuh] Wm. F. clerk with Heyer & Co. dwl 1010 Powell',
  'Brevoort House, Mrs. Matilda Yates proprietress, NW cor Mission and Fourth',
  'Bright Star S. M. Co. (Reese River) office 56 Metro-',
  'olitan Block',
  'Brilliant (Slate Range) S. M. Co. office 410 Mont',
  'Brimberg Herman, clerk 631 Washington',
  'Britton George W. book-keeper with Goodwin & Co. dw 1313 Taylor',
  'Broadhead G, &. S. M. Co. office 622 Clay',
  'BROOKS CHAS. WOLCOTT, consul for Japan, office 511 Sansom fand C. W. Brooks § Co.) dw] 1109 Stockton',
  'Browell Jeremiah, contractor and builder, office 530 chy dw! Ns Lombard between Dupont and yreen',
  'BROWN CHARLES EF. Enreka Soap Co. 207 Sac- ramento, dwl 66 Clementina',
  'Brown E. J. Mrs. millinery 134 Montgomery',
  'Brown Frank J. salesman [24 Montgomery',
  'Brown Grafton T. draftsman with C. C. Kuchel',
  'Brown James F. at Eureka Soap Co. 207 Sac',
  'Brown S. C. secretary mining companies office 40 Montgomery Block',
  'BROWN THOMAS, special agent U.S. office third floor Custom House',
  'Bryan & Watson (Lander Co.) G. & 8. M. Co. oflice Metropolitan Block',
  'BRYANT ANDREW J. wholesale wines and liquors 423 Battery, awl 921 Bush',
  'Buckeye (Cinnabar Dist.) G. & 8. M. Co. office 426 Montgomer',
  'Buckeye (Silver City) G. & 8. M. Co. 415 Sansom',
  'Buckingham Charles E. stock and bullion broker office 528 Clay',
  'Buckle Samuel, hay, grain, and feed 13 Sutter, dw}',
  'B u s',
  'Bulfinch Warren, currier, dw] 625 Market',
  'Bulletti C. fruits and produce 521 Merehant',
  'Bullion (Virginia) M. Co. office 606 Merchant',
  'Banker Hill (Lander Co.) G. & S. M. Co. office 604 Merchant',
  'Burnett John M. secretary mining companies, office 536 Washington, dw] 1006 Jackson',
  'Burns Henrv J. stencil plates, What Cheer Ionse,',
  'dw] 74 Fourth']]

In [176]:
import multiprocessing

print("Number of cpu : ", multiprocessing.cpu_count())

Number of cpu :  4

In [208]:
pages = []
args = {"filename": "1863Langley/1863Langley.pdf", "resolution": 300, "preprocess": "thresh"}
src_pdf = PyPDF2.PdfFileReader(args['filename'])
num_pages = src_pdf.getNumPages()
num_cpus = multiprocessing.cpu_count()
for i in range(multiprocessing.cpu_count()):
    pages.append(list(range(i, num_pages, num_cpus)))

In [205]:
print(list(range(3, num_pages, num_cpus)))

[3, 7, 11, 15, 19, 23, 27, 31, 35, 39, 43, 47, 51, 55, 59, 63, 67, 71, 75, 79, 83, 87, 91, 95, 99, 103, 107, 111, 115, 119, 123, 127, 131, 135, 139, 143, 147, 151, 155, 159, 163, 167, 171, 175, 179, 183, 187, 191, 195, 199, 203, 207, 211, 215, 219, 223, 227, 231, 235, 239, 243, 247, 251, 255, 259, 263, 267, 271, 275, 279, 283, 287, 291, 295, 299, 303, 307, 311, 315, 319, 323, 327, 331, 335, 339, 343, 347, 351, 355, 359, 363, 367, 371, 375, 379, 383, 387, 391, 395, 399, 403, 407, 411, 415, 419, 423, 427, 431, 435, 439, 443, 447, 451, 455, 459, 463, 467, 471, 475, 479, 483, 487, 491, 495, 499, 503, 507, 511, 515, 519, 523, 527, 531, 535, 539, 543, 547, 551, 555, 559, 563, 567, 571, 575, 579, 583, 587, 591, 595, 599, 603, 607, 611, 615, 619, 623, 627, 631, 635, 639, 643, 647, 651, 655, 659, 663, 667, 671, 675, 679]

In [12]:
import pickle
contents = {}
for i in range(4):
    cont = pickle.load(open("/Users/matt/Projects/ocr/contents."+str(i)+".p", "rb"))
    for kv in cont.keys():
        contents[kv] = cont[kv]

In [16]:
pickle.dump( contents, open( "/Users/matt/Projects/ocr/contents.p", "wb" ) )

In [9]:
cont = {}
for i in range(4):
    for kv in contents[i].keys():
        cont[kv] = contents[i][kv]

In [10]:
len(cont)

682

In [15]:
contents[350]

{'blockstats':        n_par  n_line  top_at  bottom_at  left_at  right_at
 block
 2          1       2      88        113      279       652
 3          1       3      79        122      702      1165
 4          1       1      82        112     1401      1462
 6         48     469     168       2398       73       760
 9         50     469     167       2406      780      1465
 11         1      16    2438       2466       56      1470,
 'paragraphs': {2: ['SAN FRANCISCO'],
  3: ['[ Mo] pirecrory.'],
  4: ['2 6 5'],
  6: ['Morgan George J. law stndent, dw] 108 Stockton',
   'Morgan G. & 8. M. Co. office 607 Clay',
   'Morgan H. molder Pacific Iron Works',
   'Morgan Henry, dw] Winchester Hotel',
   'Morgan Ilenry H. clerk with Hooker & Co. dwl 598 Folzom',
   'Morgan J. ironer Chelsea Laundry',
   'Morgan John, bricklayer, dwl 104 Sutter',
   'Morgan Joba, laborer, bds 921 Battery',
   'Morgan John, lamplighter 8. F. Gas Co',
   'Morgan John A, captain schooner Simon F. Blunt pier 20 Stewart',
   'Morgan Jobn A. clerk with I. K. Roberts, dwl 666 Howard',
   'Morgan John E. / George Morchouse § Co.) dwi N EE cor California and Mason',
   'MORGAN (John SN.) & CO. (John and Thomas Crellin} wholesale oystera 502 Sansom, dwl 356 Brannan',
   'Morgan Joseph A. sailmaker 4 Clay, dwl 32 Minna',
   'Morgan L. A. Mrs. assistant principal Bush Street School, dwl] LO8 Stockton',
   'Morgan Malvina Mrs. dwl 809 Pacific',
   'Morgan Mine. dvees making 702 Dupont',
   "Morgan O. H. conductor N. Beach & Mission R. R. Co. dwl W's Telegraph Place",
   'Morgan QO. H. pilot Benicia and Mare Island office',
   '10 Front, dw] Ws Telegraph Place',
   'Morgan Patrick, laborer with Brokaw & Metcalf',
   'Morgan Patrick, painter, bds with Michael] King',
   'Morgan Peter, with Rudman & Co. NW cor Pine and Front',
   'Morgan Peter, porter, dw] 129 St. Mark Place',
   'Morgan Peter F. carpenter, dw] 719 Clay',
   'Morgan Ralph B. elerk with Edward IIall & Co. dw] 517 Pine',
   'MORGAN (8S. G.), STONE (Edward F.) & CO. importers and commission merchants 108 Front, tes New Bedford, Mass',
   'Morgan Thomas VW. surveyor, dw] 225 Second',
   'Morgan T. R. Deputy County Recorder, office Bren- Tram Place, dw] W 5 Shotwell bet Uoward and Folsom',
   'Morgan William, carpenter, dwl Es Mason bet Cal- ifornia and Sacramento',
   'Morgan William, erockery 1224 Dupont',
   'Morgan Wim. H. license tax collector, dw] 32 Minna',
   'Morgan Willtam W. mail clerk Alta California office, dw] 525 Greenwich',
   'Morgenstern Adolph, with Samuel Morgenstern, awl cor Frout and Broadway',
   'Morgenstern Meyer, cloaks and mantillas 685 Sacra- mento, dwl 63] Sacramento',
   'Morgenstern Robert, with Donohoe, Ralston & Co. dw] 510 Stockton',
   'Morgenstern Samuel, clothing SW cor Pacific and Frout',
   'Morgeuthau Max, importer and jobber gents’ fur- nishing goods, cigars, ete. 418 Sacraniento, dw] 1119 Stackton',
   'Moriantie Matthew, Jaborer with Jolin Hart',
   'Moriarty Denniz, laborer with D.C. McGlynn dwl 156 First',
   'Moriarty Elizabeth Miss, domestic 702 Lombard',
   'Moriarty John, laborer with D. GC. MceGlyon',
   'Moring Christopher, baker with Charles 13. Hefter 312 Dupont',
   'MORISON JAMES, physician, office and dw] 219 iret',
   'Morison Mary Miss, domestic with Cyril V. Grey',
   'MORISON SAMUEL A. real estate agent, office 604 Merchant, dw] 387 Minna',
   'MORIUSON (Thomas A.J, NARRIS (A. H.) & CO. (Henry f. Hoyt and Thomas J1. Morison) importers and manufacturers shirts, collars, drawerg, etc. 329 Sunsom cor Sacramento, res New York',
   'Morison Thomas H. (Morison, Harris § Co.) res New York'],
  9: ['Moritz John C. meat market NW cor Powell and Filbert',
   'Moritz Luke, fruits and confectionery 57 Second',
   'Moritz Mark, dw] 1006 Market',
   'Moritz Morris, coal dealer, dw1] Continental Hotel',
   "Morken Merman F, Jiquor saloon 316 Pine, dw] NE cor O'Farrell and Wyde",
   'Morket Henry, butcher, bds Ns Brannan bet Eighth and Ninth',
   'Morland William A. 205 Battery',
   'Morlock Frederick, butter, cheese, ete. 23 Metro- politan Market, dwl 10 Dupont',
   'MORNING CALL (daily) Janes J. Ayers & Co. roprictors and publisbers, office 61:2 Com',
   'MO ENING STAR (daily) Morning Star Publishin, Company proprictors, office SE cor Clay an Montgomery',
   'Morning Star G. & S. M. Co. office 717 Battery',
   'MORNING STAR PUBLISHING COMPANY, office SE cor Clay and Montgomery',
   'Moron Benjamin, cotiee saloon 107 Pacitic',
   'Moroney Hester Miss, domestic 1007 Powell',
   'Moroney Thomas, laborer, dw] 54 Louisa',
   'Moroni Finilio, tailor 1231 Dupont',
   'MORRELL ABRAHAM J. attorney estate Joseph 8. Garwood, office 410 Montgomery, dw] 25 Stockton',
   'Morrell C. GC. dwl What Cheer House',
   'Morrell Charles, manufacturer musical instraments 431 Kearny, dwl 321 Stockton',
   'Morrell (ébenezer) & Clay f Jabez P.) brick yard Mission Dolores rear Church, dwl N 8 Sixteenth bet Dolores and Guerrero',
   'Morrell Frank, carpenter, dw] 310 Sntter',
   'Morrell Joseph, driver coach Occidental Hotel, dwI 3 Sutter',
   'Morrell ( Otwer Z./, Underhill (Gilbert EB.) & Co. furniture 621 Market, dwl Ns Post bet Mason and Taylor',
   'Morrell 8. W. cotton agent, dw] Niantic Hotel',
   'Morrigan Edward, gardener, bds 559 Market',
   'Morrill Augustus (Morrill Brothers) ves Colima, Mexico',
   'Morri]] Abriham, merehandising, dw] 25 Stockton',
   'Morrill Brothers (Charles, George P., Augustus, and O, £.) wholesale drugyists, office 305 Sac- ramento cor Front, res Oakland',
   'Morrill Oliver C. dwl 72 Everett',
   'Morrill Warren P. with Towne & Bacon, dw] N s Hayes bet Octavia and Laguna Iayes Park',
   "Morris Abrabam, merchant (Marysville) office 312 Calitornia, dw] 102 O' Farrell",
   'Morris Anna, ironer Chelsea Laundry',
   "Morris B. & Co. (John 7Z'. Littleford) manufactur- ne jewelers 643 Sacramento, dwl 14 Harlan",
   'a c e',
   "Morris Bendig, laborer, dwl Fi s Bagley Place nr O'Farrell",
   'Morris Charles, book-keeper with L. P. Fisher, dwl Ns Broadway bet Kearny and Dupont',
   'Morris Charles, clerk, dwl 510 Broadway',
   'Morris Charles, laborer, dwl W_ s Morel Place ur Pacific',
   'Morris David, machinist, safe manufacturer, etc. SB cor Market and Beale, dwl NW = cor Post and Powell',
   'Morris Ellen Mrs. vegetables 10 Metropolitan Mar- ket, dw] eor Green and Sansom',
   'Morris Harris, clothing 121 Fourth',
   'Morris Henry, eartiman, dw! 114 Jessie',
   'Morris Tlertz, express wayou, dw 118 Jeesie',
   'Morris J. dwi What Cheer IFouse',
   'Morris J. carpenter, dwl 343 Kearny',
   'Morris J. & W. M. real estate office 617 Clay',
   'Morris James, paver with Timothy Sargent',
   'Morris John, laborer with F. A. Davis, Potrero',
   'Morris John, peddler, dwl 58 8 Presidio Road nr Buchanan',
   'Morris John §. liquors 43 Sacramento'],
  11: ['A. ROMAN & CO.,417 & 419 Montgomery St., Ag’ts National Almanae & Annual Reeord, 700 pp.']},
 'data':       level  page_num  block_num  par_num  line_num  word_num  left   top  \
 8         5         1          2        1         1         1   279    90
 9         5         1          2        1         1         2   394    88
 13        5         1          3        1         1         1   702    80
 14        5         1          3        1         1         2   740    79
 15        5         1          3        1         1         3   883    88
 19        5         1          4        1         1         1  1401    82
 27        5         1          6        1         1         1    83   169
 28        5         1          6        1         1         2   192   169
 29        5         1          6        1         1         3   296   170
 30        5         1          6        1         1         4   328   169
 31        5         1          6        1         1         5   371   169
 32        5         1          6        1         1         6   500   169
 33        5         1          6        1         1         7   565   169
 34        5         1          6        1         1         8   621   168
 37        5         1          6        2         1         1    83   198
 38        5         1          6        2         1         2   193   198
 39        5         1          6        2         1         3   232   198
 40        5         1          6        2         1         4   269   198
 41        5         1          6        2         1         5   302   199
 42        5         1          6        2         1         6   348   198
 43        5         1          6        2         1         7   385   198
 44        5         1          6        2         1         8   476   197
 45        5         1          6        2         1         9   528   197
 48        5         1          6        3         1         1    82   226
 49        5         1          6        3         1         2   193   226
 50        5         1          6        3         1         3   235   226
 51        5         1          6        3         1         4   335   226
 52        5         1          6        3         1         5   432   226
 53        5         1          6        3         1         6   498   226
 56        5         1          6        4         1         1    83   254
 ...     ...       ...        ...      ...       ...       ...   ...   ...
 1211      5         1          9       49         1         3   971  2322
 1212      5         1          9       49         1         4  1092  2320
 1213      5         1          9       49         1         5  1162  2320
 1214      5         1          9       49         1         6  1195  2328
 1215      5         1          9       49         1         7  1223  2320
 1216      5         1          9       49         1         8  1349  2320
 1217      5         1          9       49         1         9  1430  2328
 1219      5         1          9       49         2         1   836  2350
 1222      5         1          9       50         1         1   780  2378
 1223      5         1          9       50         1         2   874  2378
 1224      5         1          9       50         1         3   950  2379
 1225      5         1          9       50         1         4   983  2377
 1226      5         1          9       50         1         5  1080  2376
 1227      5         1          9       50         1         6  1118  2376
 1235      5         1         11        1         1         1    56  2438
 1236      5         1         11        1         1         2    97  2438
 1237      5         1         11        1         1         3   238  2439
 1238      5         1         11        1         1         4   268  2439
 1239      5         1         11        1         1         5   395  2440
 1240      5         1         11        1         1         6   423  2440
 1241      5         1         11        1         1         7   484  2440
 1242      5         1         11        1         1         8   657  2440
 1243      5         1         11        1         1         9   736  2441
 1244      5         1         11        1         1        10   821  2441
 1245      5         1         11        1         1        11   955  2441
 1246      5         1         11        1         1        12  1093  2441
 1247      5         1         11        1         1        13  1121  2441
 1248      5         1         11        1         1        14  1240  2441
 1249      5         1         11        1         1        15  1365  2442
 1250      5         1         11        1         1        16  1426  2447

       width  height  conf        text
 8        82      23    95         SAN
 9       258      24    94   FRANCISCO
 13       15      42    90           [
 14       93      43    18         Mo]
 15      282      23    47  pirecrory.
 19       61      30    96         265
 27       97      28    96      Morgan
 28       92      28    95      George
 29       21      21    92          J.
 30       42      22    91         law
 31      116      27    89    stndent,
 32       48      21    50         dw]
 33       41      21    94         108
 34      110      22    96    Stockton
 37       96      28    91      Morgan
 38       27      22    80          G.
 39       24      21    89           &
 40       22      22    54          8.
 41       32      20    87          M.
 42       33      22    95         Co.
 43       80      22    68      office
 44       39      21    96         607
 45       63      29    95        Clay
 48       98      27    84      Morgan
 49       31      21    92          H.
 50       90      21    90      molder
 51       86      21     2     Pacific
 52       54      21    95        Iron
 53       86      21    94       Works
 56       98      28    96      Morgan
 ...     ...     ...   ...         ...
 1211    102      28    83    peddler,
 1212     48      23    85         dwl
 1213     15      23    40          58
 1214     10      14    64           8
 1215    106      22    95    Presidio
 1216     66      23    96        Road
 1217     27      15    96          nr
 1219    127      22    95    Buchanan
 1222     83      22    96      Morris
 1223     63      22    91        John
 1224     21      21    61          §.
 1225     87      29    96     liquors
 1226     27      21    96          43
 1227    148      23    96  Sacramento
 1235     33      21    28          A.
 1236    135      22    28       ROMAN
 1237     21      21    89           &
 1238    119      25    89     CO.,417
 1239     21      21    90           &
 1240     51      21    96         419
 1241    171      25    93  Montgomery
 1242     72      26    54        St.,
 1243     77      24    90       Ag’ts
 1244    127      21    93    National
 1245    130      21    92     Almanae
 1246     22      21    91           &
 1247    111      22    93      Annual
 1248    115      25    92     Reeord,
 1249     54      21    95         700
 1250     44      19    95         pp.

 [960 rows x 12 columns],
 'boxes':      character    x1    y1    x2    y2  c
 0            ~   274  2437  1477  2449  0
 1            S   279  2387   294  2410  0
 2            A   306  2388   327  2409  0
 3            N   338  2388   361  2409  0
 4            F   394  2388   413  2410  0
 5            R   424  2388   444  2409  0
 6            A   456  2388   476  2410  0
 7            N   489  2388   508  2410  0
 8            C   525  2389   535  2410  0
 9            I   553  2389   561  2410  0
 10           S   579  2388   591  2412  0
 11           C   608  2389   617  2411  0
 12           O   635  2389   652  2411  0
 13           [   702  2378   717  2420  0
 14           M   740  2381   789  2421  0
 15           o   789  2381   797  2421  0
 16           ]   819  2378   833  2419  0
 17           p   883  2389   901  2411  0
 18           i   917  2389   927  2411  0
 19           r   941  2389   953  2410  0
 20           e   974  2389   986  2411  0
 21           c  1007  2389  1018  2411  0
 22           r  1018  2389  1022  2411  0
 23           o  1044  2389  1053  2411  0
 24           r  1070  2389  1083  2412  0
 25           y  1096  2389  1117  2410  0
 26           .  1129  2389  1165  2411  0
 27           2  1401  2388  1415  2418  0
 28           6  1423  2388  1435  2418  0
 29           5  1444  2388  1462  2418  0
 ...        ...   ...   ...   ...   ... ..
 4861         n   903    39   919    53  0
 4862         a   923    38   935    59  0
 4863         l   935    38   948    59  0
 4864         A   955    38   980    59  0
 4865         l   980    38   989    59  0
 4866         m   995    39  1012    54  0
 4867         a  1020    38  1028    54  0
 4868         n  1028    38  1034    54  0
 4869         a  1043    38  1064    54  0
 4870         e  1072    39  1085    55  0
 4871         &  1093    38  1115    59  0
 4872         A  1121    39  1142    59  0
 4873         n  1142    39  1159    59  0
 4874         n  1159    39  1166    59  0
 4875         u  1175    39  1186    54  0
 4876         a  1192    38  1205    54  0
 4877         l  1208    37  1232    59  0
 4878         R  1240    38  1256    59  0
 4879         e  1256    38  1265    59  0
 4880         e  1271    38  1280    54  0
 4881         o  1288    38  1296    54  0
 4882         r  1304    38  1313    54  0
 4883         d  1319    38  1327    53  0
 4884         ,  1334    34  1355    59  0
 4885         7  1365    37  1378    58  0
 4886         0  1378    37  1380    58  0
 4887         0  1390    37  1414    58  0
 4888         p  1426    34  1436    52  0
 4889         p  1436    34  1443    52  0
 4890         .  1451    34  1470    53  0

 [4891 rows x 6 columns],
 'pagenum': 350}